<h1>Password Reset</h1>
Hi <%= params[:user].email %>.<br />

Someone requested a reset of your password.

If this was you, use the link mentioned below to reset you password. This link will expire automatically in 15 minutes.

<%= password_reset_edit_url(token: @token) %>
